.auto-complete-list{
    list-style: none;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    box-shadow: 3px 3px 6px black;
    width: 200px;
}
.auto-complete-list > li{
    font-size: 18px;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid black;
}
.search-item{
    position: relative;
    direction: rtl;
    margin-top: 50px;
    margin-right: 5px;
}
.preview-item-table{
    background-color: rgb(200,200,200,0.6);
    padding: 10px;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;
}
.preview-item-table tr > td{
    border-bottom: 1px solid black;
}
.preview-item-table tr > th{
    font-size: 20px;
}
#auto-complete-input{
    outline: none;
    margin-top: 5px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
#weigth-input{
    outline: none;
    margin-top: 2px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 3px;
}
.btn-add-item{
    padding: 5px;
    background-color: rgba(91, 120, 238, 0.8);
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 2px 2px 4px black;
    color: #fff;
}
.my-meals-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
}
.my-meals-content{
    direction: rtl;
    display: flex;
    position: relative;
    align-self: center;
    width: 90%;
    height: 90%;
    background-color: whitesmoke;
    border: 1px solid black;
    box-shadow: 3px 3px 6px black;
}
.btn-close {
    position :absolute;
    top:0;
    right:0;
    width: 5vh;
    height: 5vh;
    background-color:#f00;
    color:#fff;
    padding: 5px;
    border: 1px solid black;
  }
  .form-meal{
      direction: rtl;
      display: flex;
      padding: 10px;
      margin: 10px;
      background-color: aliceblue;
      border: 1px solid black;
      box-shadow: 1px 1px 3px black;
  }
  .form-meal > button{
    background-color: #fff;
    width: 100px;
    height: 50px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 7px;
    box-shadow: 1px 1px 2px black;
    margin-right: 25px;
    font-size: 16px;
  }
  .view-meal-box{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 10px;
    left: 10px;
    max-height: 600px;
    max-width: 250px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 6px black;
    background-color: rgba(255, 255, 255, 0.829);
  }
  .list-item{
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .list-item > li {
      cursor: pointer;
      text-align: right;
      font-size: 14px;
      padding: 5px;
  }
  .list-item > li:hover::before{
      content: " X ";
      font-size: 20px;
      color: red;
      transition: all 500ms linear;
  }